<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head',{title: 'Crear'}) %>
<body class="crear-editar">
  <%- include('../partials/header') %>
    <main>
        <h1>Agregar Producto</h1>        
        <form action="/admin/crear" method="post">
            <section class="agregar">
                <div class="form-floating">
                    <input type="text" name="Titulo" class="form-control" id="Titulo" placeholder="Titulo">
                    <label for="Titulo">Titulo</label>
                    <small>Obligatorio</small>
                </div>
                <div class="form-floating">
                    <select class="form-select" name="Categoria" id="floatingSelect" aria-label="Floating label select example">
                      <option selected hidden>Tipo de Producto</option>
                      <option value="Cotillon">Cotillon</option>
                      <option value="Coleccionables">Coleccionables</option>
                      <option value="Ind-Hombre">Ind-Hombre</option>
                      <option value="Ind-Mujer">Ind-Mujer</option>
                      <option value="Ind-Infantil">Ind-Infantil</option>
                    </select>
                    <label for="floatingSelect">Producto</label>
                    <small>Obligatorio</small>
                  </div>
                <div class="form-floating">
                    <input type="number" name="Precio" class="form-control" id="Precio" placeholder="Precio">
                    <label for="Precio">Precio</label>
                    <small>Obligatorio</small>
                </div>
                <div class="form-floating">
                    <input type="number" name="Descuento" class="form-control" id="Descuento" value="0" placeholder="Descuento">
                    <label for="Descuento">Descuento</label>
                    <small>De no aplicar descuento inserte 0 (Cero)</small>
                </div>
                <div class="form-floating">
                    <input type="number" name="Stock" class="form-control" id="Stock" placeholder="Stock">
                    <label for="Stock" value="1">Stock</label>
                    <small>Obligatorio</small>
                </div>
                <div class="form-floating">
                    <textarea class="form-control" name="Descripcion" placeholder="Por favor inserte la descripcion del producto"
                        id="floatingTextarea"></textarea>
                    <label for="floatingTextarea">Descripcion</label>
                    <small>Obligatorio</small>
                </div>

                <div class="mb-3">
                    <label for="formFileMultiple" class="form-label">Subir imagenes del producto</label>
                    <input class="form-control" type="file" id="formFileMultiple">
                    <small>Obligatorio</small>
                </div>
                
                <div class="button d-flex justify-content-center">
                    <button class="btn" type="submit">Crear Producto</button>
                </div>
                
            </section>
        </form>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>