.busqueda main h3{
    width: 100%;
    background: var(--azulPetroleo);
    color: white;
    text-align: center;
    padding: 10px 0;
    margin: 0;
}
.busqueda main section.resultados{
    width:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.busqueda main section .resultados img{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
}
