main .cardProduct{
    display: grid;
    grid-template-columns: repeat(auto-fit, max(3, 1fr));
    margin: 20px;
    grid-gap: 20px;
    justify-content: space-around;
    justify-items: center
}
main .ofertas {
    position: relative;
    width: 300px;
    height: auto;
    background: var(--cyan);
    border-radius: 20px;
    overflow: hidden;
}
main .ofertas::before {
    content: "";
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: var(--celesteClaro);
    transform: skewY(345deg);
    transition: 0.5s;
}
main .ofertas:hover::before {
    top: -70%;
    transform: skewY(390deg);
}
main .ofertas::after {
    content: "TIENDA ARGENTA";
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 1.99em;
    color: #010a261a;
}
main .ofertas .imgBox {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
}
main .ofertas .DatosBox {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}
main .ofertas .DatosBox h4 {
    font-size: 14px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.ofertas .DatosBox .descard{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    justify-content: space-evenly;
}
.ofertas .DatosBox .descard small{
    font-size: 14px;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: line-through;
    text-align: center;
}
.ofertas .DatosBox .descard h4{
    padding: 4px;
    font-size: 14px;
    background-color: green;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
}
.ofertas .DatosBox .price {
    font-size: 24px;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
}
main .ofertas .DatosBox .comprar {
    position: relative;
    top: 100px;
    opacity: 0;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    background: var(--azulPetroleo);
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}
main .ofertas:hover .DatosBox .comprar {
    top: 0;
    opacity: 1;
}
main .imgBox img.itemOferta {
    width: 100%;
}
@media(min-width:425px){
    main section article .ofertas {
        width: 49%;
        display: inline-block;
    }
    main p .ofertas{
        width: 40%;
        margin: 40px;
        font-size: 20px;
        border: 3px solid var(--azulPetroleo);
        border-radius: 13px;
        background-color: rgba(255, 255, 255, 0.7);
    }
@media (min-width:700px) {
    main .cardProduct{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 20px;
        grid-gap: 10px;
        justify-content: space-around;
        justify-items: center
    }

}
@media (min-width:1024px){
    main .cardProduct{
        display: grid;
        grid-template-columns: repeat(4, 120px);
        margin: 20px;
        grid-gap:10px;
        grid-auto-rows: minmax(100px, auto);
        justify-content: space-around;
        justify-items: center;
    }
    
    main .ofertas {
        position: relative;
        width: 230px;
        height: auto;
        background: var(--cyan);
        border-radius: 20px;
        overflow: hidden;
    }
    main .ofertas::after {
        content: "TIENDA ARGENTA";
        position: absolute;
        bottom: 0;
        left: 0;
        font-weight: 600;
        font-size: 24px;
        color: #010a261a;
    }
    main .ofertas .DatosBox h4 {
        font-size: 14px;
        color: white;
        text-align: center;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    main .nombre h2{
        color: #fff;
        font-size:20px;
        text-align: center;
        margin: 10px;
    }
}}