.carrito .buy{
    margin: 20px;
}
.carrito .buy .radio{
    border: solid 1px var(--azulPetroleo);
    border-radius: 5px;
    box-shadow: 0 0 30px rgb(0 0 0);
    background-color: white;
    display: flex;
    font-weight: bold;
    font-size: 11px;
    margin-bottom: 20px;
    flex-direction: row-reverse;
    align-items: stretch;
    padding: 8px;
    justify-content: center;
}
.carrito .buy .radio input{
    margin-right: 2px;
}
.carrito .buy .radio label.cuenta-text{
    margin-right: 15px;
}
.carrito .buy .submit{
    border: solid 1px var(--azulPetroleo);
    border-radius: 5px;
    box-shadow: 0 0 30px rgb(0 0 0);
    width: 100%;
    background-color: white;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}
.carrito .buy .email{
    width: 100%;
    margin-bottom: 10px;
    border: solid 1px var(--azulPetroleo);
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0,0,0,18);
}
.carrito .buy .email input{
    border: none;
}
.carrito .buy .registrarse{
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: var(--celeste);
    color: white;
    padding: 5px;
}
.carrito .buy .registrarse:hover {
    background-color: var(--dorado);
    color: white;
}
.carrito .buy .registrarse a {
    color: white;
    font-weight: 400;
    text-decoration: none;
}
.carrito .buy h4{
    background-color: white;
    font-size: 30px;
    color: var(--azulPetroleo);
    text-align: center;
    margin-top: 20px;
}
.carrito .buy .product img{
    height: 70px;
    border: solid 1px var(--azulPetroleo);
    border-radius: 20px;
    box-shadow: 0 0 3px rgba(0,0,0,18);
    margin-top: 10px;
}
.carrito .buy .product article{
    margin-top: 10px;
    background-color: white;
    width: 100%;
    border: solid 1px var(--azulPetroleo);
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,18);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.carrito .buy .product h3{
    margin-top: 10px;
    font-weight: bold;
    color: var(--cyan);
    font-size: 15px;
    margin-left: 5px;
}
.carrito .buy .product .detalle{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.carrito .buy .product .precio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 5px;
    flex-wrap: wrap;
}
.carrito .buy .product .principal{
    color: green;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    width: 30%;
    
}
.carrito .buy .product .secundario{
    text-decoration: line-through;
    font-weight: bold;
    font-size: 12px;
    color: var(--cyan);
    text-align: right;
    width: 30%;
    
}
.carrito .buy .product .descuento{
    font-size: 18px;
    color: red;
    font-weight: bold;
    text-align: right;
    width: 30%;
}

.carrito .buy .agregarCarrito {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 16px;
}

.carrito .buy .agregarCarrito .agregarCarrito__input {
    border-left: 0;
    border-right: 0;
    width: 30px;
    text-align: center;
    padding: 5px;
    }
.carrito .buy .agregarCarrito .button {
    cursor: pointer;
    padding: 5px 10px;
    color: #FFFFFF;
    background-color: var(--celeste);
    font-weight: 600;
    border: 1px solid var(--azulPetroleo);
    border-radius: 4px;
}
.carrito .buy .agregarCarrito .button--addOnLeft{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 5px;
}
.carrito .buy .agregarCarrito .button--addOnRight{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 5px;
}
.carrito .buy .agregarCarrito .input {
    border: 1px solid #D7DBDD;
    padding: 0 10px;
    border-radius: 0;
    box-shadow: none;
}
/* .carrito .buy .product .añadir{
    display: flex;
    font-weight: 900;
    color: var(--azulPetroleo);
    width: 25%;
    height: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
} */
/* .carrito .buy .product input{
    border: solid 2px;
    height: 30px;
    width: 20px;
}
.carrito .buy .product .restar, .carrito .buy .product .agregar{
    font-size: 2rem;
    border: none;
    height: 3rem;
} */
.carrito .buy .product .botones{
    display: flex;
    width: 20%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
}
.carrito .buy .product .botones i{
    width: 25px;
    height: 25px;
    padding: 5px;
    background-color: var(--celeste);
    color: white;
}
.carrito .buy .product .botones i:hover{
    background-color: var(--dorado);
    color: white;
}

.carrito .buy .resumen{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    color: var(--azulPetroleo);
    border-radius: 6px;
    border: solid 1px var(--azulPetroleo);
    box-shadow: 0 0 30px rgb(0 0 0);
}
.carrito .buy .resumen tr{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.carrito .buy .linea {
    border-top: 1px solid var(--dorado);
    height: 2px;
    max-width: 400px;
    padding: 0;
}
.carrito .buy .codigo{
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    color: var(--azulPetroleo);
    border-radius: 6px;
    border: solid 1px var(--azulPetroleo);
    box-shadow: 0 0 30px rgb(0 0 0);
}
.carrito .buy .codigo label{
    margin-right: 20px;
    font-weight: 600;
}
.carrito .buy .codigo input{
    width: 50%;
    height: 20px;
    border: solid 1px var(--azulPetroleo);
    text-align: center;
}
.carrito .buy .codigo .cdgo{
    width: 90%;
    background-color: var(--celeste);
    color: white;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: 1s hall;
    margin-top: 10px;
}
.carrito .buy .codigo .cdgo:hover {
    background-color: var(--dorado);
    color: white;
}
.carrito .buy .compraFinal{
    display:flex;
    justify-content: space-between;
}
.carrito .buy .compraFinal .btnfinal{
    width: 180px;
    background-color: var(--celeste);
    color: white;
    padding: 4px;
    border-radius: 8px;
    cursor: pointer;
    transition: 1s hall;
    margin-top: 10px;
}
.carrito .buy .compraFinal .btnfinal a {
    color: white;
    font-weight: 400;
    text-decoration: none;
}
.carrito .buy .compraFinal .btnfinal:hover {
    background-color: var(--dorado);
    color: white;
}

@media(min-width:768px){
    .carrito .buy{
        display: flex;
        flex-direction: column;
        margin: 20px;
    }
    .carrito .buy .total, .carrito .buy .product{
        width: 48%;
    }
    .carrito .buy .compra{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        align-content: center;
    }
    .carrito .buy .radio{
        display: flex;
        flex-direction: row-reverse;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 20px;
        justify-content: center;
    }
    
    .carrito .buy .resumen{
        background-color: white;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
        padding: 10px;
        color: var(--azulPetroleo);
        border-radius: 6px;
        border: solid 1px var(--azulPetroleo);
        box-shadow: 0 0 30px rgb(0 0 0);
    }
    .carrito .buy .resumen tr{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
    .carrito .buy .linea {
        border-top: 1px solid var(--dorado);
        height: 2px;
        max-width: 400px;
        padding: 0;
    }

    .carrito .buy .agregarCarrito {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: baseline;
    }
    .carrito .buy .agregarCarrito .input {
        border: 1px solid #D7DBDD;
        padding: 0 10px;
        border-radius: 0;
        box-shadow: none;
        height: 28px;
    }
    /* .carrito .buy .product .añadir{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row-reverse;
    } */
    .carrito .buy .codigo .btnfinal{
        width: 90%;
        background-color: var(--celeste);
        color: white;
        padding: 8px;
        border-radius: 8px;
        cursor: pointer;
        transition: 1s hall;
        margin-top: 10px;
    }
    .carrito .buy .codigo .btnfinal:hover {
        background-color: var(--dorado);
        color: white;
    }
}





