.cotillon main .nuevos{
    display: grid;
    grid-template-columns: repeat(auto-fit, max(3, 1fr));
    margin: 20px;
    grid-gap: 20px;
    justify-content: space-around;
    justify-items: center
}
.cotillon main h1{
    width: 100%;
    background: var(--dorado);
    color: white;
    text-align: center;
    padding: 10px 0;
}
.cotillon main .ofertas {
    position: relative;
    width: 300px;
    height: 380px;
    background: var(--cyan);
    border-radius: 20px;
    overflow: hidden;
}
.cotillon main .ofertas::before {
    content: "";
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: var(--celesteClaro);
    transform: skewY(345deg);
    transition: 0.5s;
}
.cotillon main .ofertas:hover::before {
    top: -70%;
    transform: skewY(390deg);
}
.cotillon main .ofertas::after {
    content: "COTILLON";
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 3.5em;
    color: #010a261a;
}
.cotillon main .ofertas .imgBox {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
}
/*.home main .ofertas .imgBox img {
    max-width: 100%;
    transition: .5s;
}
.ofertas:hover .imgBox img {
    max-width: 50%;
        
}*/
.cotillon main .ofertas .DatosBox {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}
.cotillon main .ofertas .DatosBox h4 {
    font-size: 14px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.ofertas .DatosBox .price {
    font-size: 24px;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
}
.cotillon main .ofertas .DatosBox .comprar {
    position: relative;
    top: 100px;
    opacity: 0;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    background: var(--azulPetroleo);
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}
.cotillon main .ofertas:hover .DatosBox .comprar {
    top: 0;
    opacity: 1;
}
.cotillon main .imgBox img.itemOferta {
    width: 100%;
}
@media(min-width:425px){
    .cotillon main section article{
        width: 49%;
        display: inline-block;
    }
    .cotillon main p{
        width: 40%;
        margin: 40px;
        font-size: 20px;
        border: 3px solid var(--azulPetroleo);
        border-radius: 13px;
        background-color: rgba(255, 255, 255, 0.7);
    }
@media (min-width:768px) {
    .cotillon main .nuevos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 20px;
        grid-gap: 10px;
        justify-content: space-around;
        justify-items: center
    }

}
@media (min-width:1024px){
    .cotillon main .nuevos{
        display: grid;
        grid-template-columns: repeat(4, 120px);
        margin: 20px;
        grid-gap:10px;
        grid-auto-rows: minmax(100px, auto);
        justify-content: space-around;
        justify-items: center;
    }
    
    .cotillon main .ofertas {
        position: relative;
        width: 230px;
        height: auto;
        background: var(--cyan);
        border-radius: 20px;
        overflow: hidden;
    }
    .cotillon main .ofertas::after {
        content: "COTILLON";
        position: absolute;
        bottom: 0;
        left: 0;
        font-weight: 600;
        font-size: 43.2px;
        color: #010a261a;
    }
    .cotillon main .ofertas .DatosBox h4 {
        font-size: 14px;
        color: white;
        text-align: center;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    .cotillon main .nombre h2{
        color: #fff;
        font-size:20px;
        text-align: center;
        margin: 10px;
    }
}}