.crear-editar main h1{
    width: 100%;
    background: var(--dorado);
    color: white;
    text-align: center;
    padding: 10px 0;
}

.crear-editar main form {
    margin: 0 20px 20px;
}

.crear-editar main form .agregar{
    background: var(--cyan);
    padding: 20px;
    border-radius: 20px;
}

.crear-editar main form .form-floating{
    padding: 8px 0 ;
}

.crear-editar main form .form-floating small{
    color: white;
}
.crear-editar main form .btn{
    width: 400px;
    color: white;
    background: var(--dorado)
}
.crear-editar main form .btn:hover{
    color: white;
}
@media (min-width:768px){
    .crear-editar main form {
        margin: 0 90px 20px;
    }
}
@media (min-width:1024px){
    .crear-editar main form {
        margin: 0 100px 20px;
    }
}