*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    max-width: 1440px;
    margin: 0 auto;
    background-image: url(/images/home/FondoPagina.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: var(--font);
}
a{
    text-decoration: none;
}