/*OFERTAS*/
.home main h1{
    width: 100%;
    background: var(--dorado);
    color: white;
    text-align: center;
    padding: 10px 0;
}
/*PRODUCTOS*/
.home main .cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, max(3, 1fr));
    margin: 20px;
    grid-gap: 20px;
    justify-content: space-around;
    justify-items: center
}
.home main .card{
    background-color: var(--cyan);
    width: 300px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,18);
    transition: all 0.25s;  
}
.home main .contenedor{
    position: relative;
}
.home main .contenedor img{
    background-color: white;
    width: 100%;
    height: 200px;
    display: block;
    border-radius: 20px 20px 0 0;
}
.home main .nombre h2{
    color: #fff;
    text-align: center;
    margin: 10px;
}
/*SLIDER*/
.home main .contenedor-all{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
}
.home main .slide img{
    max-width: 100%;
}
.home main .slide{
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 600ms;
    animation-name: inicioauto;
    animation-duration: 20s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
.home main .img-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

@keyframes inicioauto{
    25%{
        transform: translate3d(calc(100% * 0), 0, 0);
    }
    
    50%{
        transform: translate3d(calc(-100% * 1), 0, 0);
    }
    75%{
        transform: translate3d(calc(-100% * 2), 0, 0);
    }
    100%{
        transform: translate3d(calc(-100% * 3), 0, 0);
    }
}
@media(min-width:425px){
    .home main .card:hover {
        transform: translateY(-15px);
        box-shadow: 0 12px 16px var(--dorado);
    }
}
@media (min-width:700px) {
    .home main .cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 20px;
        grid-gap: 10px;
        justify-content: space-around;
        justify-items: center
    }
    .home main .nombre h2{
        color: #fff;
        text-align: center;
        margin: 10px;
        font-size: 20px;
    }
}

@media (min-width:1024px){
    .home main .cards{
        display: grid;
        grid-template-columns: repeat(4, 120px);
        margin: 20px;
        grid-gap:10px;
        grid-auto-rows: minmax(100px, auto);
        justify-content: space-around;
        justify-items: center;
    }
    .home main .card{
        background-color: var(--cyan);
        width: 220px;
        margin-top: 20px;
        border-radius: 20px;
        box-shadow: 0 0 30px rgba(0,0,0,18);
        transition: all 0.25s;  
    }
    .home main .nombre h2{
        color: #fff;
        text-align: center;
        margin: 10px;
        font-size: 20px;
    }
}