.indumentaria main h1{
    width: 100%;
    background: var(--dorado);
    color: white;
    text-align: center;
    padding: 10px 0;
}
.indumentaria main .cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, max(3, 1fr));
    margin: 20px;
    grid-gap: 20px;
    justify-content: space-around;
    justify-items: center
}
.indumentaria main .card{
    background-color: var(--cyan);
    width: 300px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,18);
    transition: all 0.25s;  
}
.indumentaria main .contenedor{
    position: relative;
}
.indumentaria main .contenedor img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}
.indumentaria main .nombre h2{
    color: #fff;
    text-align: center;
    margin: 10px;
}

@media(min-width:425px){
    .indumentaria main section article{
        width: 49%;
        display: inline-block;
    }
    .indumentaria main p{
        width: 40%;
        margin: 40px;
        font-size: 20px;
        border: 3px solid var(--azulPetroleo);
        border-radius: 13px;
        background-color: rgba(255, 255, 255, 0.7);
    }

.indumentaria main .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px var(--dorado);
  }
@media (min-width:768px) {
    .indumentaria main .cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 20px;
        grid-gap: 10px;
        justify-content: space-around;
        justify-items: center
    }

}
@media (min-width:1024px){
    .indumentaria main .nuevos, .indumentaria main .cards{
        display: grid;
        grid-template-columns: repeat(3, 120px);
        margin: 20px;
        grid-gap:10px;
        grid-auto-rows: minmax(100px, auto);
        justify-content: space-around;
        justify-items: center;
    }
    .indumentaria main .card{
        background-color: var(--cyan);
        width: 220px;
        margin-top: 20px;
        border-radius: 20px;
        box-shadow: 0 0 30px rgba(0,0,0,18);
        transition: all 0.25s;  
    }
    
    .indumentaria main .nombre h2{
        color: #fff;
        font-size:20px;
        text-align: center;
        margin: 10px;
    }
}}