<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head',{title: 'Admin'}) %>

<body class="admin">
    <%- include('../partials/header') %>
    <main>
        <h1>Admin</h1>
        
        <div class="button d-flex justify-content-center">
            <button type="button" class="btn" type="submit">Crear Producto</button>
        
            <button type="button" class="btn" type="submit">Editar Producto</button>
        
            <button type="button" class="btn" type="submit">Listar Producto</button>
        </div>
    </main>
    
</body>    

</html>