<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carrito</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script
      src="https://kit.fontawesome.com/9c9712e45b.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body class="carrito">
    <header class="header">
      <div class="contenedor">

        <button class="burger"><i class="fa-solid fa-futbol"></i></button>

        <a class="logo" href="/">
          <img src="/images/home/header/logofinalizado.png" alt="" />
        </a>

        <form class="search" action="search">
          <input type="text" placeholder="" name="search" />
          <button class="search"><i class="fa fa-search"></i></button>
        </form>

        <nav class="login_carrito">
          <a href=""><img src="/images/home/header/Login.png" alt="" /></a>
          <a href=""><img src="/images/home/header/carrito_png.png" alt=""/></a>
        </nav>

        <nav class="secciones">
         <ul>
          <li><a href="">Accesorios</a></li>
          <li><a href="">Indumentaria</a></li>
          <li><a href="">Cotillón</a></li>
          <li><a href="">Tecnología</a></li>
         </ul>
        </nav>
    </header>

    <main class="buy">

        <section class="radio">

          <label for="anonimo">Continuar como anónimo</label>
          <input class="select" type="radio" name="seleccion">

          <label for="cuenta">Conectarse a una cuenta</label>
          <input class="select" type="radio" name="seleccion">

        </section>

        <section class="submit">

        <p class="cuenta">La creación de una cuenta implica que pueda comprar más deprisa, mantenerse al dia sobre el proceso de la orden actual y comprobar el estado de ordenes anteriores.</p>
          <div class="email">  
          <label for="email"></label>
          <input type="text" name="email" id="email" placeholder="e-mail">
          </div>        
            
        <button type="submit">Subscribirse</button>
        </section>

        <div class="compra">

        <section class="product">
          <article>
            <h4>Resumen de compra</h4>
          <hr>

          <div>
            <img src="/images/home/indumentaria/camisetaniñofrente.jpg" alt="producto seleccionado">
          </div>

          <h3>Producto: Camiseta de niño</h3>

          <p class="secundario">$8000</p>
          <p class="descuento">25%</p>
          <p class="principal">$6000</p>

          <div class="añadir">
            <div class="restar">-</div>
            <input type="number">
            <div class="agregar">+</div>
          </div>

          <div class="button">
          <button type="reset"><i class="fa-solid fa-trash-can"></i></button>
          <button><i class="fa-solid fa-pen-to-square"></i></button>
          </div>

        </article>
      </section>
<div class="total">
      <section class="resumen">
            
          <p class="detalle">Precio........................ $8000</p>
          <hr>
          <p class="detalle">Subtotal..................... $8000</p>
          <p class="detalle">Descuentos................... $2000</p>
          <p class="detalle">Intereses....................... $0</p>
          <p class="detalle">Envío................................ $0</p>
          <br>
          <p class="detalle">TOTAL........................ $6000</p>
      </section>

        <div class="codigo">
          <label class="promo" for="codigo">Agregar un código de promoción</label>
          <input type="text" name="codigo" id="codigo" placeholder="ingrese su código">
          <button class="codigo">Aplicar promoción</button>
        </div> 
        </div>
      </div>

    </main>

    <!--FOOTER-->
    <footer>
      <div class="row primary">
        <div class="column links">
          <ul>
            <li>ESTO PODRIA SER UN MAPA DE SITIO</li>
            <li><i class="fa-solid fa-square-rss"><a href="https://www.ole.com.ar/seleccion/">NOTICIAS</a></i></li>
            <li><i class="fa-solid fa-envelope"><a href="/contacto">CONTACTANOS</a></i></li>
            <li><i class="fa-solid fa-circle-question"><a href="#">PREGUNTAS FRECUENTES</a></i></li>
          </ul>    
        </div>
        <div class="column about">
          <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13136.557944164106!2d-58.395053169068795!3d-34.60063418736252!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccac708c492db%3A0xd382ce07c0e451c0!2sAsociaci%C3%B3n%20del%20F%C3%BAtbol%20Argentino!5e0!3m2!1ses-419!2sar!4v1657577299170!5m2!1ses-419!2sar"
          width="400"
          height="200"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          >Viamonte 1366</iframe
        >
        </div>
        <div class="column links">
          <h3>LOCALES</h3>
          <ul>
            <li> <i class="fas fa-map-marker-alt"><a href="https://goo.gl/maps/4E5Zar7nWi8YCZkK6" target="_blank">Viamonte 1366, CABA</a></i></li>
            <li> <i class="fas fa-map-marker-alt"><a href="https://goo.gl/maps/985ZB6jJi1JSJvyFA" target="_blank">Brandsen 805, CABA</a></i></li>
            <li> <i class="fas fa-map-marker-alt"><a href="https://goo.gl/maps/ASpENfYAkSSafL6T7" target="_blank">Av. Figueroa Alcorta 7597, CABA</a></i></li>
          </ul>
          <br>
          <h3>¡SEGUINOS EN NUESTRAS REDES!</h3>
          <div class="redes">
            <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
          </div>
        </div>
      </div>
      <small> &#169; Copyright 2022 &#8212; TiendArgenta.com.ar &#8212; <span>Diseñado por Grupo 10</span></small>
    </footer>

    </body>
    
    </html>