<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head',{title: 'Contacto | Tienda Argenta'}) %>
<body class="contacto">
  <%- include('./partials/header') %>
    <main>
        <section class="form-reglog">
            <h1>Contactanos</h1>
            <form action="" method="post">
                <div>
                    <input class="mensaje" type="name" name="name" id="name" placeholder="Nombre" required>
                    <small>*Ingrese su nombre:</small>
                </div>
                <div>
                    <input class="mensaje" type="email" name="Correo" id="Correo" placeholder="Ingrese su correo electr&oacute;nico" required>
                    <small>*Ingrese su E-mail</small>
                </div>
                <div>
                  <input class="mensaje" type="asunto" name="asunto" id="asunto" placeholder="Asunto" required>
                  <small>*Ingrese un asunto</small>
                </div>
                <div>
                  <textarea class="mensaje" type="mensaje" name="mensaje" id="mensaje" placeholder="Mensaje" rows="6" required></textarea>
                  <small>*Ingrese un mensaje</small>
                </div>
                <div> 
                    <button type="submit" class="boton">Enviar</button>
                </div>
            </form>
        </section>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>