<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalles</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script
      src="https://kit.fontawesome.com/9c9712e45b.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <div class="contenedor">
        <a class="logo" href="/"
          ><img src="/images/home/header/logofinalizado.png" alt="" />
        </a>
        <form class="buscador" action="">
          <input type="text" placeholder="" name="buscador" />
          <button class="search"><i class="fa fa-search"></i></button>
        </form>
        <nav class="login_carrito">
          <a href=""><img src="/images/home/header/Login.png" alt="" /></a>
          <a href=""
            ><img src="/images/home/header/carrito_png.png" alt=""
          /></a>
        </nav>
      </div>

      <nav class="secciones_desplegables">
        <ul>
          <li><a href="">Accesorio</a></li>
          <li><a href="">Indumentaria</a></li>
          <li><a href="">Cotillon</a></li>
          <li><a href="">Tecnología</a></li>
        </ul>
      </nav>
    </header>

    <main class="detalles">
     <h1>Título del producto</h1>   
     <img src="/images/detalles/PRINCIPAL.jpg" alt="">
<div class="miniaturas">
         <img src="/images/detalles/PRINCIPAL.jpg" alt="">
         <img src="/images/detalles/DORSO.jpg" alt="">
         <img src="/images/detalles/FRENTE.jpg" alt="">
         <img src="/images/detalles/DORSO2.jpg" alt="">
</div>
     <h2>stock :</h2>
     <h3>Descripcion del producto</h3>
     <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo commodi soluta fuga quas voluptatem officiis, eos nulla? Natus, quibusdam. Quam molestias voluptates aspernatur dolor vitae animi magni non saepe fuga?</p>
<h3>Talles</h3>
     <div>
         <label for="XS">XS</label>
         <input type="radio" name="talle" id="XS" value="XS">
         <label for="S">S</label>
         <input type="radio" name="talle" id="S" value="S">
         <label for="M">M</label>
        <input type="radio" name="talle" id="M" value="M">
        <label for="L">L</label>
        <input type="radio" name="talle" id="XL" value="XL">
        <label for="XL">XL</label>
        <input type="radio" name="talle" id="XL" value="XL">
     </div>
     <h3>Cantidad</h3>
     <textarea name="cantidad" id="cantidad" cols="3" rows="1">- 1 +</textarea>
     <h4>subtotal</h4>
     <p>$_____</p>
     <h3>Total</h3>
     <p>$_____</p>
     <button type="submit">Agregar al carrito</button>
    </main>

    <footer></footer>
  </body>
</html>
