<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script
      src="https://kit.fontawesome.com/9c9712e45b.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="home">
    <header>
      <div class="contenedor">
          <a class="logo" href="/"
            ><img src="/images/home/header/logofinalizado.png" alt="" />
          </a>
          <form class="buscador" action="">
            <input type="text" placeholder="" name="buscador" />
            <button class="search"><i class="fa fa-search"></i></button>
          </form>
        <nav class="login_carrito">
          <a href=""><img src="/images/home/header/Login.png" alt="" /></a>
          <a href=""
            ><img src="/images/home/header/carrito_png.png" alt=""
          /></a>
        </nav>
      </div>

      <nav class="secciones_desplegables">
        <ul>
          <li><a href="">Accesorio</a></li>
          <li><a href="">Indumentaria</a></li>
          <li><a href="">Cotillon</a></li>
          <li><a href="">Tecnología</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section>
        <div class="video"> 
            <iframe width="560" height="315" src="https://www.youtube.com/embed/gm3J5adMXfw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </section>
      
      <section class="categorias">
        <article>
          <a href=""
            ><img src="/images/home/main/infantiles.jpg" alt="infantiles"
          /></a>
        </article>
        <article>
          <a href=""
            ><img
              src="/images/home/main/promosyofertas.jpg"
              alt="Seccion promos"
          /></a>
        </article>
        <article>
          <a href=""
            ><img src="/images/home/main/novedades.jpg" alt="Seccion novedades"
          /></a>
        </article>
        <article>
          <a href=""
            ><img
              src="/images/home/main/impresiones_3d.jpg"
              alt="Seccion impresiones 3d"
          /></a>
        </article>
      </section>

      <section class="carrucel">
        <div class="banner">
          <img src="/images/home/main/bannermessi.jpg" alt="" />
        </div>
        <img src="/images/home/main/envios_gratis.jpg" alt="" />
        <a href=""><img src="/images/home/main/modos_de_pago.jpg" alt="" /></a>
        <a href=""
          ><img src="/images/home/main/categorias_carrusel.jpg" alt=""
        /></a>
      </section>
    </main>

    <footer>
      <section class="referencias">
        <a href="https://www.ole.com.ar/seleccion/">NOTICIAS</a>
        <a href="">CONTACTANOS</a>
        <a href="">PREGUNTAS FRECUENTES</a>
      </section>
      <section class="mapa">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13136.557944164106!2d-58.395053169068795!3d-34.60063418736252!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccac708c492db%3A0xd382ce07c0e451c0!2sAsociaci%C3%B3n%20del%20F%C3%BAtbol%20Argentino!5e0!3m2!1ses-419!2sar!4v1657577299170!5m2!1ses-419!2sar"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          >Viamonte 1366</iframe
        >
      </section>
      <section class="locales">
        <h2>Locales</h2>
        <ul>
          <li>Calle Falsa 123</li>
          <li>Calle Falsa 123</li>
          <li>Calle Falsa 123</li>
        </ul>
      </section>
      <section class="redes_sociales">
        <div class="Facebook">
          <i class="fa-brands fa-facebook"></i>
          <a href="https://www.facebook.com">Facebook</a>
        </div>
        <div class="Instagram">
          <a href="https://www.instagram.com">
            <i class="fa-brands fa-instagram"></i>
            <p>Instagram</p>
        </a>
        </div>
        <div class="Twitter">
          <i class="fa-brands fa-twitter"></i
          ><a href="https://www.twitter.com">Twitter</a>
        </div>
        <div class="Whatsapp">
          <i class="fa-brands fa-whatsapp"></i
          ><a href="https://www.whatsapp.com">Whatsapp</a>
        </div>
      </section>
    </footer>
  </body>
</html>
