<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script
      src="https://kit.fontawesome.com/9c9712e45b.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  </head>

  <body class="home">
    <header>
        <div class="content-header">
          <div class="burger">
            <i class="fas fa-bars"></i>
          </div>
          <div class="logo">
          <a href="/">
          <img src="/images/home/header/logofinalizado.png" alt="logo de Tienda Argenta" >
          </a>
          </div>
          <div class="icons">
              <form  action="">
                <input type="search" name="search" placeholder="Buscar">
              </form>
              <a href="#">
                <img src="/images/home/header/Login.png" alt="imagen de login con gorrito" />
              </a>
              <a href="#">
                <img src="/images/home/header/carrito_png.png" alt="carrito de compras con bandera argentina"/>
              </a>
          </div>
          <nav class="nav-desktop">
              <ul>
                  <li><a href="/">Inicio</a></li>
                  <li><a href="/#">Productos</a></li>
                  <li><a href="/#">Novedades</a></li>
                  <li><a href="/#">Contactanos</a></li>
              </ul>
          </nav>
        </div>
    </header>
    <main>
      <!-- <section>
        <div class="video"> 
            <iframe width="560" height="315" src="https://www.youtube.com/embed/gm3J5adMXfw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div> 
      </section>-->
      <!--CATEGORIAS-->
      <section class="cards">

        <article class="card card1">
          <div class="container">
            <a href=""><img src="/images/home/indumentaria/infantiles.png" alt="camiseta niño"/></a>
          </div>
          <div class="nombre">
            <h2>INDUMENTARIA</h2>
          </div>
        </article>
        <article class="card card2">
          <div class="container">
            <a href=""><img src="/images/home/cotillon/promosyofertas.png" alt="promos"/></a></div>
          <div class="nombre">
            <h2>COTILLON</h2>
          </div>
        </article>
        <article class="card card3">
          <div class="container">
            <a href=""><img src="/images/home/novedades/perfume.png" alt="novedades"/></a>
          </div>
          <div class="nombre">
            <h2>NOVEDADES</h2>
          </div>
        </article>
        <article class="card card4">
          <div class="container">
            <a href=""><img src="/images/home/impresiones/impresiones_3d.png" alt="impresiones 3d"/></a>
          </div>
          <div class="nombre">
            <h2>FIGURAS 3D</h2>
          </div>
        </article>
        <article class="card card5">
          <div class="container">
          <a href=""><img src="/images/home/tecnologia/smartxiaomi55.png" alt=""></a>
          </div>
          <div class="nombre">
            <h2>TECNOLOGIA</h2>
          </div>
        </article>
        <article class="card card6">
          <div class="container">
          <a href=""><img src="/images/home/novedades/manta.png" alt=""></a>
          </div>
          <div class="nombre">
            <h2>VARIOS</h2>
          </div>
        </article>
      </section>
      <!--CARROUSEL-->
        <div class="container-all">
            <input type="radio" name="imagen-slide" id="1" hidden>
            <input type="radio" name="imagen-slide" id="2" hidden>
            <input type="radio" name="imagen-slide" id="3" hidden>
            <input type="radio" name="imagen-slide" id="4" hidden>
          <div class="slide">
            <div class="img-slide">
              <img src="/images/home/carrousel/bannermessi.png" alt="">
            </div>
            <div class="img-slide">
              <img src="/images/home/main/envios_gratis.png" alt="">
            </div>
            <div class="img-slide">
              <img src="/images/home/carrousel/categorias_carrusel.png" alt="">
            </div>
            <div class="img-slide">
              <img src="/images/home/main/modos_de_pago.png" alt="">
            </div>
          </div>
        </div>
    </main>
    <!--FOOTER-->
    <footer>
      <div class="row primary">
        <div class="column links">
          <ul>
            <li>ESTO PODRIA SER UN MAPA DE SITIO</li>
            <li><a href="https://www.ole.com.ar/seleccion/"><i class="fa-solid fa-square-rss">NOTICIAS</i></a></li>
            <li><a href="/contacto"><i class="fa-solid fa-envelope">CONTACTANOS</i></a></li>
            <li><a href="#"><i class="fa-solid fa-circle-question">PREGUNTAS FRECUENTES</i></a></li>
          </ul>    
        </div>
        <div class="column about">
          <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13136.557944164106!2d-58.395053169068795!3d-34.60063418736252!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccac708c492db%3A0xd382ce07c0e451c0!2sAsociaci%C3%B3n%20del%20F%C3%BAtbol%20Argentino!5e0!3m2!1ses-419!2sar!4v1657577299170!5m2!1ses-419!2sar"
          width="400"
          height="200"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          >Viamonte 1366</iframe
        >
        </div>
        <div class="column links">
          <h3>LOCALES</h3>
          <ul>
            <li> <i class="fas fa-map-marker-alt"><a href="https://goo.gl/maps/4E5Zar7nWi8YCZkK6" target="_blank">Viamonte 1366, CABA</a></i></li>
            <li> <i class="fas fa-map-marker-alt"><a href="https://goo.gl/maps/985ZB6jJi1JSJvyFA" target="_blank">Brandsen 805, CABA</a></i></li>
            <li> <i class="fas fa-map-marker-alt"><a href="https://goo.gl/maps/ASpENfYAkSSafL6T7" target="_blank">Av. Figueroa Alcorta 7597, CABA</a></i></li>
          </ul>
          <br>
          <h3>¡SEGUINOS EN NUESTRAS REDES!</h3>
          <div class="redes">
            <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
          </div>
        </div>
      </div>
      <small> &#169; Copyright 2022 &#8212; TiendArgenta.com.ar &#8212; <span>Diseñado por Grupo 10</span></small>
    </footer>
  </body>
</html>
