<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script
      src="https://kit.fontawesome.com/9c9712e45b.js"
      crossorigin="anonymous"
    ></script>
  </head>
  
  <body class="home">
    <header>
      <div class="contenedor">

        <button class="burger"><i class="fa-solid fa-futbol"></i></button>

        <a class="logo" href="/">
          <img src="/images/home/header/logofinalizado.png" alt="" />
        </a>

        <form class="search" action="search">
          <input type="text" placeholder="" name="search" />
          <button class="search"><i class="fa fa-search"></i></button>
        </form>

        <nav class="login_carrito">
          <a href=""><img src="/images/home/header/Login.png" alt="" /></a>
          <a href=""><img src="/images/home/header/carrito_png.png" alt=""
          /></a>
        </nav>
      </div>

        <nav class="secciones">
          <ul>
            <li><a href="">Accesorios</a></li>
            <li><a href="">Indumentaria</a></li>
            <li><a href="">Cotillón</a></li>
            <li><a href="">Tecnología</a></li>
          </ul>
        </nav>
      
    </header>

    <main>
      <section>
       <!--  <div class="video"> 
            <iframe width="560" height="315" src="https://www.youtube.com/embed/gm3J5adMXfw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div> -->
      </section>
      
    <section class="categorias">
        <article>
          <a href=""><img src="/images/home/indumentaria/camisetaniñofrente.jpg" alt="camiseta niño"/></a>
          <p>indumentaria</p>
        </article>
        <article>
          <a href=""><img src="/images/home/cotillon/promosyofertas.jpg" alt="promos"/></a>
          <p>Promos</p>
        </article>
        <article>
          <a href=""><img src="/images/home/novedades/perfume.jpg" alt="novedades"/></a>
          <p>Novedades</p>
        </article>
        <article>
          <a href=""><img src="/images/home/impresiones/impresiones_3d.jpg" alt="impresiones 3d"/></a>
          <p>impresiones 3d</p>
        </article>
        <article>
          <a href=""><img src="/images/home/tecnologia/smartxiaomi55.jpg" alt=""></a>
          <p>tecnologia</p>
        </article>
      </section>

      <section class="carrusel">
        <div class="banner">
          <img src="/images/home/carrousel/bannermessi.jpg" alt="banner messi" />
        </div>
        <div class="info">
          <img src="/images/home/main/envios_gratis.jpg" alt="envios gratis" />
          <a href=""><img src="/images/home/main/modos_de_pago.jpg" alt="modos de pago" /></a>
          <a href=""><img src="/images/home/carrousel/categorias_carrusel.jpg" alt="enlace a categorias"/></a>
        </div>
      </section>
    </main> 
    <!--FOOTER-->
    <footer>
      <div class="row primary">
        <div class="column links">
          <ul>
            <li>ESTO PODRIA SER UN MAPA DE SITIO</li>
            <li><i class="fa-solid fa-square-rss"><a href="https://www.ole.com.ar/seleccion/">NOTICIAS</a></i></li>
            <li><i class="fa-solid fa-envelope"><a href="/contacto">CONTACTANOS</a></i></li>
            <li><i class="fa-solid fa-circle-question"><a href="#">PREGUNTAS FRECUENTES</a></i></li>
          </ul>    
        </div>
        <div class="column about">
          <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13136.557944164106!2d-58.395053169068795!3d-34.60063418736252!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccac708c492db%3A0xd382ce07c0e451c0!2sAsociaci%C3%B3n%20del%20F%C3%BAtbol%20Argentino!5e0!3m2!1ses-419!2sar!4v1657577299170!5m2!1ses-419!2sar"
          width="400"
          height="200"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          >Viamonte 1366</iframe
        >
        </div>
        <div class="column links">
          <h3>LOCALES</h3>
          <ul>
            <li> <i class="fas fa-map-marker-alt"><a href="https://goo.gl/maps/4E5Zar7nWi8YCZkK6" target="_blank">Viamonte 1366, CABA</a></i></li>
            <li> <i class="fas fa-map-marker-alt"><a href="https://goo.gl/maps/985ZB6jJi1JSJvyFA" target="_blank">Brandsen 805, CABA</a></i></li>
            <li> <i class="fas fa-map-marker-alt"><a href="https://goo.gl/maps/ASpENfYAkSSafL6T7" target="_blank">Av. Figueroa Alcorta 7597, CABA</a></i></li>
          </ul>
          <br>
          <h3>¡SEGUINOS EN NUESTRAS REDES!</h3>
          <div class="redes">
            <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
          </div>
        </div>
      </div>
      <small> &#169; Copyright 2022 &#8212; TiendArgenta.com.ar &#8212; <span>Diseñado por Grupo 10</span></small>
    </footer>
  </body>
</html>
