<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Iniciar sesion</title>
        <link rel="stylesheet" href="/css/styles.css" />
        <!--ICONS-->
        <link rel="icon" href="/images/home/icon.png" type="image/x-icon">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
      </head>
<body class="login">
    <header>
        <marquee loop="infinite" behavior="scroll">ENVIOS GRATIS A PARTIR DE $11.999</marquee>
          <div class="contenedor-header">
            <div class="logo">
            <a href="/">
            <img src="/images/home/header/logofinalizado.png" alt="logo de Tienda Argenta" >
            </a>
            </div>
            <div class="icons">
                <form  action="">
                  <input type="search" name="search" placeholder="Buscar">
                </form>
                <a href="/login">
                  <img src="/images/home/header/Login.png" alt="imagen de login con gorrito" />
                </a>
                <a href="/carrito">
                  <img src="/images/home/header/carrito_png.png" alt="carrito de compras con bandera argentina"/>
                </a>
            </div>
            <div class="burger">
              <input type="checkbox" name="burger" id="burger" checked>
              <label for="burger"><i class="fas fa-bars"></i></label>
            
              <nav class="nav-desktop">
                  <ul>
                      <li><a href="/">Inicio</a></li>
                      <li><a href="/#">Productos</a></li>
                      <li><a href="/#">Novedades</a></li>
                      <li><a href="/#">Contactanos</a></li>
                  </ul>
              </nav>
            </div>
          </div>
          </div>
      </header>
    <main>
        <section class="form-reg">
            <h1>Iniciar sesion</h1>
            <form action="" method="post">
                <div>
                    <input class="ingreso" type="email" name="Correo" id="Correo" placeholder="Ingrese su correo electr&oacute;nico" required>
                    <small>*Ingrese su E-mail</small>
                </div>
                <div>
                    <input class="ingreso" type="password" name="pass" id="pass" placeholder="Ingrese su contraseña" required>
                    <small>*Ingresa tu contraseña</small>
                </div>
                <div>
                    <input class="ingreso" type="password" name="pass2" id="pass2" placeholder="Confirme su contraseña" required>
                    <small>*Las contraseñas no coinciden.</small>
                </div>
                <div>
                    <p><input type="checkbox" name="check"> Recordarme</p>
                </div>
                <div> 
                    <button type="submit"class="boton">Iniciar sesion</button>
                </div>
                <div class="linea"></div>
                <p>¿No tenes cuenta?<a href="/register"> Registrarme</a></p>
            </form>
        </section>
    </main>
    <footer>
        <div class="row primary">
          <div class="column links">
            <ul>
              <li><i class="fas fa-home"><a href="/">INICIO</a></i></li>
              <li><i class="fas fa-trophy"><a href="#">PRODUCTOS</a></i></li>
              <li><i class="fas fa-rss"><a href="#">NOVEDADES</a></i></li>
              <li><i class="fas fa-envelope"><a href="#">CONTACTANOS</a></i></li>
              <li><i class="fas fa-newspaper"><a href="https://www.ole.com.ar/seleccion/">NOTICIAS</a></i></li>
              <li><i class="fas fa-question-circle"><a href="#">PREGUNTAS FRECUENTES</a></i></li>
            </ul>    
          </div>
          <div class="column about">
            <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13136.557944164106!2d-58.395053169068795!3d-34.60063418736252!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccac708c492db%3A0xd382ce07c0e451c0!2sAsociaci%C3%B3n%20del%20F%C3%BAtbol%20Argentino!5e0!3m2!1ses-419!2sar!4v1657577299170!5m2!1ses-419!2sar"
            width="100%"
            height="200"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
            >Viamonte 1366</iframe
          >
          </div>
          <div class="column links">
            <h3>LOCALES</h3>
            <ul>
              <li> <i class="fas fa-map-marker-alt"><a href="https://goo.gl/maps/4E5Zar7nWi8YCZkK6" target="_blank">Viamonte 1366, CABA</a></i></li>
              <li> <i class="fas fa-map-marker-alt"><a href="https://goo.gl/maps/985ZB6jJi1JSJvyFA" target="_blank">Brandsen 805, CABA</a></i></li>
              <li> <i class="fas fa-map-marker-alt"><a href="https://goo.gl/maps/ASpENfYAkSSafL6T7" target="_blank">Av. Figueroa Alcorta 7597, CABA</a></i></li>
            </ul>
            <br>
            <h3>¡SEGUINOS EN NUESTRAS REDES!</h3>
            <div class="redes">
              <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square"></i></a>
              <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram-square"></i></a>
              <a href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter-square"></i></a>
              <a href="https://www.whatsapp.com/" target="_blank"><i class="fab fa-whatsapp-square"></i></a>
            </div>
          </div>
        </div>
        <small> &#169; Copyright 2022 &#8212; TiendArgenta.com.ar &#8212;</small>
      </footer>
</body>
</html>