<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" />
    <title>INICIAR SESION</title>
</head>
<body class="register">
    <header>
    </header>
    <main>
        <section class="form-reg">
            <h1>Iniciar sesion</h1>
            <form action="" method="post">
                <div>
                    <input class="ingreso" type="email" name="Correo" id="Correo" placeholder="Ingrese su correo electr&oacute;nico" required>
                    <small>*Ingrese su E-mail</small>
                </div>
                <div>
                    <input class="ingreso" type="password" name="pass" id="pass" placeholder="Ingrese su contraseña" required>
                    <small>*Ingresa tu contraseña</small>
                </div>
                <div>
                    <input class="ingreso" type="password" name="pass2" id="pass2" placeholder="Confirme su contraseña" required>
                    <small>*Las contraseñas no coinciden.</small>
                </div>
                <div>
                    <p><input type="checkbox" name="check"> Recordarme</p>
                </div>
                <div> 
                    <button type="submit"class="boton">Iniciar sesion</button>
                </div>
                <div class="linea"></div>
                <p>¿No tenes cuenta?<a href="/register"> Registrarme</a></p>
            </form>
        </section>
    </main>
    <footer>
    </footer> 
</body>
</html>