<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" />
    <title>REGISTRO-TIENDARGENTA</title>
</head>
<body class="register">
    <header>
    </header>
    <main>
        <section class="form-reg">
            <h1>Crear cuenta</h1>
            <p class="textcrear">Complete este formulario para poder crear una cuenta.</p>
            <form action="" method="post">
                <div>
                    <input class="ingreso" type="text" name="Nombres" id="Nombres" placeholder="Ingrese su nombre" required>
                    <small>*Ingresa tu nombre</small>
                </div>
                <div>
                    <input class="ingreso" type="text" name="Nombres" id="Apellidos" placeholder="Ingrese su apellido" required>
                    <small>*Ingrese tu apellido</small>
                </div>
                <div>
                    <input class="ingreso" type="email" name="Correo" id="Correo" placeholder="Ingrese su correo electr&oacute;nico" required>
                    <small>*Ingrese su E-mail</small>
                </div>
                <div>
                    <input class="ingreso" type="password" name="pass" id="pass" placeholder="Ingrese su contraseña" required>
                    <small>*Ingresa tu contraseña</small>
                </div>
                <div>
                    <input class="ingreso" type="password" name="pass2" id="pass2" placeholder="Confirme su contraseña" required>
                    <small>*Las contraseñas no coinciden.</small>
                </div>
                <div>
                    <p><input type="checkbox" name="check" required> Acepto los <a href="#">Términos y Condiciones.</a></p>
                </div>
                <div> 
                    <button type="submit"class="boton">Registrarme</button>
                </div>
                <div class="linea"></div>
                <p>¿Ya tienes cuenta?<a href="#"> Iniciar sesión</a></p>
            </form>
        </section>
    </main>
    <footer>
    </footer> 
</body>
</html>