<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head',{title: 'Novedades'}) %>
<body class="novedades">
  <%- include('./partials/header') %>
    <main>
      <h1>NOVEDADES</h1>
      <section class="nuevos">
        <article class="ofertas">
          <a href="/detalle">
            <div class="imgBox">
              <img src="/images/home/ofertas/sinbg-infantiles.png" alt="Camiseta de oferta" class="itemOferta">
            </div>
            <div class="DatosBox">
              <h4>Camiseta Infantil</h4>
              <h2 class="price">$12.999<small>,00</small></h2>
              <a href="/carrito" class="comprar">Comprar</a>
            </div>
            </a>
        </article>
        <article class="ofertas">
          <a href="/detalle">
            <div class="imgBox">
              <img src="/images/home/ofertas/sinbg-infantiles.png" alt="Camiseta de oferta" class="itemOferta">
            </div>
            <div class="DatosBox">
              <h4>Camiseta Messi Titular</h4>
              <h2 class="price">$17.999<small>,00</small></h2>
              <a href="/carrito" class="comprar">Comprar</a>
            </div>
          </a> 
        </article>
        <article class="ofertas">
          <a href="/detalle">
            <div class="imgBox">
              <img src="/images/home/ofertas/sinbg-infantiles.png" alt="Camiseta de oferta" class="itemOferta">
            </div>
            <div class="DatosBox">
              <h4>Camiseta Mujer Suplente</h4>
              <h2 class="price">$13.999<small>,00</small></h2>
              <a href="/carrito" class="comprar">Comprar</a>
            </div>
          </a>
        </article>
        <article class="ofertas">
          <a href="/detalle">
            <div class="imgBox">
              <img src="/images/home/ofertas/sinbg-infantiles.png" alt="Camiseta de oferta" class="itemOferta">
            </div>
            <div class="DatosBox">
                <h4>Camiseta Hombre Suplente</h4>
                <h2 class="price">$13.999<small>,00</small></h2>
                <a href="/carrito" class="comprar">Comprar</a>
            </div>
          </a>
        </article>
      </section>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>