<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head',{title: 'Preguntas Frecuentes'}) %>
<body class="preg-Frec">
  <%- include('./partials/header') %>
    <main>
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              ¿COMO SE REALIZAN LAS ENTREGAS?
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Las entregas se realizan en cajas cerradas a través de empresas especializadas en el reparto de mercadería.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              ¿COMO HAGO PARA CANCELAR MI COMPRA?
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Para cancelar su compra póngase en contacto con nosotros enviándonos un correo electrónico a Ventas@TiendArgenta.com.ar o llamando al teléfono de atención al cliente.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              ¿PUEDO PAGAR CON 2 METODOS DE PAGO DIFERENTES?
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">No es posible utilizar 2 medios de pago diferentes para un mismo pedido, tampoco se pueden realizar pagos con 2 tarjetas de crédito distintas para un mismo pedido.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
              ¿LOS PRODUCTOS SON ORIGINALES?
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Todos los productos que encontraras en este sitio web son originales de la marca. El comercializador posee los derechos de comercialización de los productos de la Seleccion Argentina de Futbol, y opera el sitio.</div></div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                ¿SE PUEDEN REALIZAR CAMBIOS?
              </button>
            </h2>
            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Si se pueden realizar cambios de productos, siempre y cuando el producto este sin uso, con su etiqueta y en su envoltorio original, dentro de los 10 días de corrido una vez recibido el producto. El cambio podrá realizarse solo por productos de la misma temporada.
                Asimismo, si el o los productos hubieren sufrido roturas o deterioros en tránsito, o fueren despachados equivocadamente Ud. deberá comunicarse con el centro de atención al cliente dentro del plazo antes mencionado, a efectos de que procedamos, según corresponda, a gestionar el re-despacho de la compra.
                En el supuesto de los productos que hayan sufrido roturas o deterioros en tránsito, estos no deben haber sido utilizados por Ud., y deben encontrarse en las mismas condiciones en que fueron recibidos, con sus embalajes y etiquetas. Por ejemplo, a mero título ilustrativo, si el producto se encuentra en su envoltorio plástico ("blister"), éste debe ser abierto en forma prolija y cuidadosamente, caso contrario no podrá efectuarse el cambio del mismo.
                Las compras realizadas en <a href="/"><b>TiendArgenta.com.ar</b></a> no tienen cambio ya que son productos personalizados y frabricados On Demand. Se harán cambios sólo ante una falla en el estampado o en la prenda, la cual será cambiada por la misma prenda en óptimas condiciones.
              </div>
            </div>
          </div>
      </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>