<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head',{title: 'Usuario'}) %>
  <body class="usuario">
      <%- include('./partials/header') %>
    <main>
      
      <div class="foto">
        <img src="/images/usuario/perfil.jpg" alt="">
        <h2>Usuario Anonimo</h2>
      </div>
      
 
      <li class="desplegable">
        <h3>Datos personales</h3><i class="fas fa-angle-down"></i>
        <ul>
          <li><span>Email</span><small>usuario@gmail.com</small></li>
          <li>
            <span>DNI</span><small>50.123.456</small>
          </li>
          <li><span>Teléfono</span> <small>1122334455</small></li>
        </ul>
      </li>
      <li class="desplegable">
        <h3>Contraseña</h3><i class="fas fa-angle-down"></i>
        <ul>
          <li ><span>Contraseña</span
            ><input
              class="ingreso"
              type="password"
              name="pass"
              id="pass"
              placeholder="**********"
              required
            />
       <a href=""><small>Cambiar constraseña</small></a></li>
        </ul>
      </li>
      <li class="desplegable">
        <h3>Medio de pago</h3><i class="fas fa-angle-down"></i>
        <ul>
          <li>
            <span>Tarjeta Visa</span><small>Terminada en 0000</small><small>Vencimiento: 11/2077</small>
          </li>
          <li><span>Tarjeta Mastercard</span><small>Terminada en 1111</small><small>Vencimiento: 11/2099</small></li>
        </ul>
      </li>
        <li class="desplegable">
            <h3>Datos de envío</h3><i class="fas fa-angle-down"></i>
            <ul>
              <li><span>Dirección</span><small>Mi casa</small></li>
              <li>
                <span>Provincia</span><small>Buenos Aires</small>
              </li>
              <li><span>Localidad</span> <small>Mar de las Pompas</small></li>
              <li><span>Código postal</span> <small>1663</small></li>
            </ul>
          </li>
          <li class="desplegable">
             <a href="/productos/carrito"><h3>Mis compras</h3></a>
          </li>
          
        </main>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Accordion Item #1
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Accordion Item #2
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Accordion Item #3
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>
        </div>
        <%- include('./partials/footer') %>
  </body>
</html>
