main .registro{
    background-color: white;
    margin: 10px;
    padding: 5%;
}
main section{
    margin: 0px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    width: 370px;
    height: 47px;
}
main .email{
    margin-top: 8px;
    margin-left: 5px;
}
main button{
    font-weight: bold;
    text-align: center;
    margin: 10px;
    padding: 2%;
}
main .resumen{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 60px;
    padding: 20px;
}
main hr{
    width: 100%;
    align-items: center;
}
main select{
    margin: 7px;
    text-align: center;
    padding: 2px;
    width: 200px;
}
main p .cuenta{
    margin: 10px;
}
main img{
    border-style: ridge;
    width: 200px;
    height: 200px;
}
main .codigo{
    background-color: white;
    margin: 10px;
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    color: var(--azulPetroleo);
    border-radius: 15px;
    border: solid 1px var(--azulPetroleo);
}
main .codigo input{
    width: 169px;
    height: 45px;
    border: solid 1px var(--azulPetroleo);
}
main .codigo button{
    width: 157px;
    height: 45px;
    background-color: skyblue;
}
