.carrito main .registro{
    background-color: rgba(255, 255, 255, 0.7);
    margin: 10px;
    padding: 5%;
}
.carrito main section{
    margin: 0px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    width: 370px;
    height: 47px;
}
.carrito main .email{
    margin-top: 8px;
    margin-left: 5px;
}
.carrito main button{
    font-weight: bold;
    text-align: center;
    margin: 10px;
    padding: 2%;
}
.carrito main .resumen{
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 60px;
    padding: 20px;
}
.carrito main hr{
    width: 100%;
    align-items: center;
}
.carrito main select{
    margin: 7px;
    text-align: center;
    padding: 2px;
    width: 200px;
}
.carrito main p .cuenta{
    margin: 10px;
}
.carrito main img{
    border-style: ridge;
    width: 200px;
    height: 200px;
}
.carrito main .codigo{
    background-color: rgba(255, 255, 255, 0.7);
    margin: 10px;
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    color: var(--azulPetroleo);
    border-radius: 15px;
    border: solid 1px var(--azulPetroleo);
}
.carrito main .codigo input{
    width: 169px;
    height: 45px;
    border: solid 1px var(--azulPetroleo);
}
.carrito main .codigo button{
    width: 157px;
    height: 45px;
    background-color: skyblue;
}
@media(min-width:460px){
    .carrito main .registro{
        width: 92%;
    }
    .carrito main .registro .radio{
        display: inline-flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 85%;
        margin: 5px;
    }
    .carrito main .registro p{
        margin-bottom: 26px;
    }
    .carrito main .codigo{
        width: 96%;
        margin: 5px;
        padding: 10px;
    }
}
