.detalles main h1{
    text-align: center;
    font-size: 2em;
    width: auto;
    height: auto;
    background-color: white;
    border: solid 1px var(--azulPetroleo);
    border-radius: 15px;
}
.detalles main .imagenes img {
    border: solid 1px var(--azulPetroleo);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,18);
    width: 100%;
}
.detalles main .imagenes .miniaturas img{
    width: 24%;
}
.detalles main .relacionados img{
    width: 25%;
}
.detalles main .descripcion{
    padding: 10px;
    border: solid 1px var(--azulPetroleo);
    border-radius: 15px;
    width: auto;
    margin: 4px;
    background-color: white;
}
.detalles main .descripcion h2 {
    margin: 4px;
    color:var(--celeste);
}
.detalles main p{
    padding-bottom: 5px;
    font-size: 16px;
    margin: 4px;
}
.detalles main .descripcion h3 {
    /* border-top: 1px solid var(--azulPetroleo); */
    width: auto;
    margin: 4px;
    
    
}
.detalles main .descripcion .desc h3{
    text-decoration: underline;
}
.detalles main .descripcion .desc{
    background-color: var(--celesteClaro);
    margin: 4px;
  
}
.detalles main .descripcion .talles{
    display: flex;
    color:var(--celeste);
    margin: 8px 0px;
}

.detalles main .descripcion .agregar_al_carrito{
display: flex;
width: 90px;
margin-bottom: 10px;
}
.detalles main .descripcion .agregar_al_carrito h3{
    margin:5px 5px;
    color:var(--celeste)
}
.detalles main .descripcion .agregar_al_carrito input{
    width: 90px;
    text-align: center;
}
.detalles main .descripcion .agregar_al_carrito div{
    margin: 0px 10px;
    background-color: var(--celeste);
    padding: 5px;
    border: solid 1px var(--azulPetroleo);
    border-radius: 3px;
    color: white;

}
.detalles main .descripcion .envio{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.detalles main .descripcion .envio i{
    color: var(--celeste);
    margin: 5px;
}
.detalles main .descripcion a{
    margin-bottom: 10px;
    padding-left: 10px;
}
.detalles main .descripcion span{
    text-decoration: line-through;
    font-size: 20px;
}
.detalles main .descripcion small{
    color: green;
    font-size: 24px;
}
.detalles main .precio h3,h4{
    color:var(--celeste);
    margin:4px
}
.detalles main .precio p{
    
    background-color: white;
    font-size: x-large;
    text-decoration: underline;
}
.detalles main .linea{
    border-top: solid 1px var(--cyan);
    height: 2px;
    max-width: 400px;
    padding: 10px;
    margin: 0%;
    padding-bottom: 8px;
}
.detalles main .btn{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.detalles main .btn button {
    background-color: var(--celeste);
    color: white;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: 1s hall;
}
.detalles main .btn button:hover{
    background-color: var(--dorado);
    color: white;
}
.detalles main .relacionados h2{
text-align: center;
font-size: 2em;
width: auto;
height: auto;
background-color: white;
border: solid 1px var(--azulPetroleo);
border-radius: 15px;
}
.detalles main .relacionados h4{
    color: black;
}
.detalles main .relacionados span{
    width: 254px;
}
.detalles main .relacionados article{
    background-color: var(--dorado);
    display: flex;
    flex-wrap: nowrap;
    border: solid 1px var(--azulPetroleo);
    border-radius: 15px;
    align-items: center;
}
.detalles main .relacionados img{
    margin: 1px;
    display: flex;
    border: solid 1px var(--azulPetroleo);
    border-radius: 15px;
}
.detalles main .relacionados p{
    font-size: unset;
}
.detalles main .relacionados button{
    background-color: var(--celeste);
    color: white;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: 1s hall;
}
.detalles main .relacionados button:hover{
    background-color: var(--dorado);
    color: white;
}


@media(min-width:426px){
    .detalles main .imagenes .img_principal{
        width: 95%;
    }
    .detalles main .imagenes {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
}

@media(min-width:769px){
    .detalles main{
        margin-left: 10px;
    margin-right: 10px;
    }
        .detalles main .desk{
            display: flex; 
        } 
        
        .detalles main .descripcion h2{
            margin-bottom: 10px;
        }
        .detalles main .descripcion .desc{
            background-color: var(--celesteClaro);
     margin: 4px;
     margin-bottom: 20px;
        }
        .detalles main .relacionados{
            margin-top: 25px;
        }
        .detalles main .relacionados h2{
            text-align: center;
    font-size: 2em;
    width: auto;
    height: auto;
    background-color: white;
    border: solid 1px var(--azulPetroleo);
    border-radius: 15px;
        }
        .detalles main .relacionados h4{
            color: black;
            font-size: 1.5em;
        }
        .detalles main .relacionados span{
            font-size: 1.5em;
            color: green;
        }
        .detalles main .relacionados article{
            margin: 10px;
            display: flex;
            flex-direction: column;
            width: 800px;
            background-color: var(--dorado);
            border: solid 1px var(--azulPetroleo);
            border-radius: 15px;
            text-align: center;
        }
        .detalles main .relacionados img{
            margin: 1px;
            display: flex;
            border: solid 1px var(--azulPetroleo);
            border-radius: 15px;
        }
        .detalles main .relacionados p{
            font-weight: bold;
            font-size: 1.5em;
        }
        .detalles main .relacionados button{
            background-color: var(--celeste);
            color: white;
            padding: 2vh;
            border-radius: 8px;
            cursor: pointer;
            transition: 1s hall;
            margin:10px;
        }
        .detalles main .relacionados button:hover{
            background-color: var(--dorado);
            color: white;
        }
.detalles main .relacionados .articulos {
display: flex;
    flex-direction: row;
}
}