footer {
    font-size: 14px;
    background-color: white;
    box-sizing: border-box;
    border: none;
    outline: none;
}

footer .row.primary {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
footer .column {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 10px;
}
footer .column img{
    width: 25%;
    padding-bottom: 0.5em
}
footer h3 {
    width: 100%;
    text-align: center;
    color: var(--dorado);
    white-space: nowrap;
    padding-bottom: 0.5em;
}
footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
footer li:not(:first-child) {
    margin-top: 0.8em;
}
footer ul li a {
    padding-left: 8px;
    color: var(--azulPetroleo);
    font-family: var(--font);
    font-weight: 400;
    text-decoration: none;
    text-align:start;
}
footer ul li a:hover {
    color: var(--dorado);
    transition: .5s all;
}
footer .about p {
    color: var(--azulOscuro);
    text-align: justify;
    line-height: 1;
    margin: 0;
    font-weight: 600;
}
footer .links i {
    color: var(--cyan);
}
footer div.redes{
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}
footer .redes i:hover{
    color: var(--dorado);
    transition: .5s all;
}
footer small{
    display: flex;
    justify-content: center;
}
footer .footer-menu{
    float: left;
    margin-top: 10px;
}
footer .footer-menu a{
    color: #cfd2d6;
    padding: 6px;
    text-decoration: none;
}
footer .footer-menu a:hover{
    color: #27bcda;
}
footer .copyright p {
    font-size: 0.9em;
    text-align: center;
}
@media screen and (min-width: 768px) {
    footer .row.primary {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
