header .contenedor{
    margin: 10px;
    padding:5px;
    color: white;
    background-color: white;
    height: 125px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    flex-wrap: unset;
}
header .logo img{
    height: 135px;
    width: 135px;
    margin-right: 40px;
}
header .buscador{
    background: white;
    width: 46%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 88px;
}
header .login_carrito img{ 
    width: 35px;
    height: 35px;
    margin-right: 30px;
}
header ul li {
    display: none;
   /*  color:var(--azulPetroleo);  */
}


