header{
    width: 100%;
    background-color: white;
}
header marquee{
    background-color: var(--cyan);
    color: white;
}
header marquee i{
    color: white;
}
/*LOGO*/
header .contenedor-header{
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}
header .contenedor-header .logo{
    display: flex;
    width: 20%;
    
}
header .contenedor-header .logo img{
    width: 100%;
    height: 100px;
    margin-left: 10px;
    object-fit: cover;
}

/*ICONOS*/

header .contenedor-header form{
    display: flex;
    margin-right: 10px;
}
header .contenedor-header input[type="search"]{
    width: 40px;
    background-color: white;
    background-image: url('/images/home/header/search-icon.png');
    background-position: center;
    background-repeat: no-repeat;
	background-size: 20px;
    padding: 11px 10px 10px 25px;
    font-size: 12px;
    border-radius: 50px;
    transition: .5s; 
    outline: none; 
}
header .contenedor-header input[type="search"]:focus{
    width: 130px;
    background-position: left center;
    color: #000;
    background-color: var(--dorado);
}
header .contenedor-header .icons{
    display: flex;
    justify-content: flex-end;
    width: 70%;
}

header .contenedor-header .icons img{
    display: flex;
    margin: 2px;
    width: 35px;
    object-fit: cover;
}

/*MENU*/

header .contenedor-header .burger{
    display: flex;
    width: 100%;
    border-top: solid 1px var(--dorado);
}
header .contenedor-header .burger input[type="checkbox"]{
    display: none;
}
header .contenedor-header .burger input[type="checkbox"]:checked ~ nav{
    display: none;
}
header .contenedor-header .burger label{
    display: flex;
    font-size: 30px;
    color: var(--dorado);
    position: absolute;
    top: 37px;
    right: 10px;
}
header .contenedor-header .burger nav{
    width: 100%;
    display: block;
    margin-top: 10px;
    text-align: center;
    color: var(--cyan);
}

header .contenedor-header .burger nav ul li{
    display: flex;
    flex-direction: column;
    list-style: none;
    line-height: 40px;
    color: var(--cyan);
}
header .contenedor-header .burger nav ul li a{
    color: var(--cyan);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px 5px;
}
header .contenedor-header .burger ul li:hover{
        background-color: var(--dorado);
    }
    header .contenedor-header .burger ul li:hover a{
        color:white;
    }
header .contenedor-header .nav-desktop{
    display: none;
}
/*DESPLEGABLE */
header .contenedor-header .burger ul ul {
    display:none;
    top:100%;
    left:0;
    background-color: var(--cyan);    
}
/*ITEMS DESPLEGABLE*/
header .contenedor-header .burger ul ul li {
    width: 100%;
    color: var(--dorado);
    
}
/*ENLACE DESPLEGABLE*/
header .contenedor-header .burgerul ul ul li a {
    line-height: 120%;
    padding: 10px 15px;
}
/*DESPLEGABLE HOVER*/
header .contenedor-header .burger ul li:hover > ul {
    display:block;
}

/*MEDIA*/
@media(min-width:768px){
    header .contenedor-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    }
    header .contenedor-header .burger{
        display: flex;
        width: 100%;
        border-top: solid 1px var(--dorado);
    }
    header .contenedor-header .burger label{
        display: none;
    }
    header .contenedor-header .burger input[type="checkbox"]:checked ~ nav{
        display: flex;
        justify-content: space-evenly;
    }
    a:link, a:visited, a:active {
        color: var(--azulPetroleo);
        font-weight: 500;
        text-decoration:none;
    }
    header .contenedor-header .burger ul{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        list-style: none;
    }
    header .contenedor-header .burger ul li {
        width: 100%;
        text-align: center;
        margin: 0 5px;
    }
    header .contenedor-header .burger ul li:hover{
        background-color: var(--dorado);
    }
    header .contenedor-header .burger ul li:hover a{
        color:white;
    }
    /*DESPLEGABLE */
    header .contenedor-header .burger nav ul ul {
        display: none;
    }
    /*ITEMS DESPLEGABLE*/
    header .contenedor-header .burger nav ul ul li {
        color: var(--dorado);
        display: table-cell;
    }
    /*ENLACE DESPLEGABLE*/
    header .contenedor-header .burger nav ul ul li a {
        line-height: 100%;

    }
    /*DESPLEGABLE HOVER*/
    header .contenedor-header .burger nav ul li:hover > ul {
        display:block;
    }
}
