.home header .contenedor{
    background-color: white;
    margin: 10px;
    padding: 2%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.home header .contenedor .burger{
    width: 25px;
    height: 25px;
    background-color:rgba(60, 207, 230, 0.40);
    color: rgba(53, 27, 186, 0.841);
    border: none;
    border-radius: 15px;

}
.home header .contenedor .logo img{
    height: 85px;
    width: 85px;

}
.home header .contenedor .search input{
    width: 120px;
    height: 20px;
    background-color: skyblue;
    border: solid 1px var(--azulPetroleo);
    border-radius: 15px;

}
.home header .contenedor .search button{
    width: 29px;
    height: 22px;
    margin: 3px;
    background-color: skyblue;
    color: white;
    border: solid 1px var(--azulPetroleo);
    border-radius: 18px;

}
.home header .contenedor .login_carrito img{
    width: 40px;
    height: 40px;
    margin: 2px;
    border: solid 1px var(--azulPetroleo);
    border-radius: 25px;
    background-color: rgba(60, 207, 230, 0.40);
}
.home header .contenedor .secciones{
    display: none;
}




