.home main section article img{
    display: flex;
    width: 332px;
    margin: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-top-style: groove;
    border-radius: 15px;
}
.home main p{
    text-transform: uppercase;
    color: rgb(9, 9, 84);
    text-align: center;
    -webkit-text-stroke: thick;
    background-color:rgba(255, 255, 255, 0.7); 
}
.home main .carrusel .banner{
    width: 100%;
}
.home main .carrusel .banner img{
    width: 100%;
    margin-top: 10px;
}
.home main .carrusel .info img{
    width: 100%; 
    margin-bottom: 5px;  
}
@media(min-width:460px){
    .home main section article{
        width: 49%;
        display: inline-block;
    }
    /* .home main .categorias img{
        width: 40%;
        margin: 50px 0 18px 50px;
    } */
    .home main p{
        width: 40%;
        margin: 40px;
        font-size: 20px;
        border: 3px solid var(--azulPetroleo);
        border-radius: 13px;
        background-color: rgba(255, 255, 255, 0.7);
    }

}