/*PRODUCTOS*/
.home main .cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, max(3, 1fr));
    margin: 20px;
    grid-gap: 20px;
    justify-content: space-around;
    justify-items: center
}
.home main .card{
    background-color: var(--azulPetroleo);
    width: 300px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,18);
    transition: all 0.25s;  
}
.home main .container{
    position: relative;
}
.home main .container img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}
.home main .nombre h2{
    color: #fff;
    text-align: center;
    margin: 10px;
}
@media(min-width:460px){
    .home main section article{
        width: 49%;
        display: inline-block;
    }
    /* .home main .categorias img{
        width: 40%;
        margin: 50px 0 18px 50px;
    } */
    .home main p{
        width: 40%;
        margin: 40px;
        font-size: 20px;
        border: 3px solid var(--azulPetroleo);
        border-radius: 13px;
        background-color: rgba(255, 255, 255, 0.7);
    }

.home main .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px var(--dorado);
  }

/*SLIDER*/
.home main .container-all{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
}
.home main .slide img{
    max-width: 100%;
}
.home main .slide{
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 600ms;
    animation-name: inicioauto;
    animation-duration: 6.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
.home main .img-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

@keyframes inicioauto{
    25%{
        transform: translate3d(calc(100% * 0), 0, 0);
    }
    
    50%{
        transform: translate3d(calc(-100% * 1), 0, 0);
    }
    75%{
        transform: translate3d(calc(-100% * 2), 0, 0);
    }
    100%{
        transform: translate3d(calc(-100% * 3), 0, 0);
    }
}
@media (min-width:768px) {
    .home main .cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 20px;
        grid-gap: 10px;
        justify-content: space-around;
        justify-items: center
    }
}

@media (min-width:1024px) {
    .home main .cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 20px;
        grid-gap:10px;
        grid-auto-rows: minmax(100px, auto);
        justify-content: space-around;
        justify-items: center;
    }
}
}