/* Fuente a utilizar */
@import url();

:root{
    /* Colores */
    --azulPetroleo:#010a26;
    --celesteClaro: #DCE6F2;
    --celeste: #4B93BF;
    --cyan: #3981BF;
    --dorado: #BFB063;
    
    /* Fuentes */



}