/* Fuente a utilizar */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500&family=Roboto:wght@300;400;500;700&display=swap');

:root{
    /* Colores */
    --azulPetroleo:#010a26;
    --celesteClaro: #DCE6F2;
    --celeste: #4B93BF;
    --cyan: #3981BF;
    --dorado: #BFB063;
    
    /* Fuentes */
    



}