<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head',{title: 'Carrito'}) %>

  <body class="carrito">
    <%- include('./partials/header') %>
    <main class="buy">
        <section class="radio">
          <label for="anonimo">Continuar como anónimo</label>
          <input class="select" type="radio" name="seleccion">
          <label  for="cuenta" class="cuenta-text">Conectarse a una cuenta</label>
          <input class="select" type="radio" name="seleccion">
        </section>
        <section class="submit">
          <p class="cuenta">La creación de una cuenta implica que pueda comprar más deprisa, mantenerse al dia sobre el proceso de la orden actual y comprobar el estado de ordenes anteriores.</p>
          <div class="email">  
            <label for="email"></label>
            <input type="text" name="email" id="email" placeholder="ingrese su e-mail">
          </div>        
            
        <button class="registrarse" type="submit"><a href="/usuario/register">Registrarme</a></button>
        </section>
        <h4>Resumen de compra</h4>
        <div class="compra">
          <section class="product">
            <article>      
              <div>
                <img src="/images/home/indumentaria/camisetaniñofrente.jpg" alt="producto seleccionado">
              </div>
              <h3>Producto: Camiseta Infantil</h3>
              <div class="precio">
                <p class="secundario">$8000</p>
                <p class="descuento">25%</p>
                <p class="principal">$6000</p>
              </div>
              <div class="añadir">
                <div class="restar">-</div>
                <input type="number">
                <div class="agregar">+</div>
              </div>
              <div class="botones">
                <button type="reset"><i class="fa-solid fa-trash-can"></i></button>
                <button><i class="fa-solid fa-pen-clip"></i></button>
              </div>
            </article>
            <article>      
              <div>
                <img src="/images/detalles/camisetamujerfrente.jpg" alt="producto seleccionado">
              </div>
              <h3>Producto: Camiseta Mujer</h3>
              <div class="precio">
                <p class="secundario">$16000</p>
                <p class="descuento">25%</p>
                <p class="principal">$12000</p>
              </div>
              <div class="añadir">
                <div class="restar">-</div>
                <input type="number">
                <div class="agregar">+</div>
              </div>
              <div class="botones">
                <button type="reset"><i class="fa-solid fa-trash-can"></i></button>
                <button><i class="fa-solid fa-pen-clip"></i></button>
              </div>
            </article>     
            <article>
              <div>
                <img src="/images/home/impresiones/impresiones_3d.png" alt="producto seleccionado">
              </div>
              <h3>Producto: Figura Messi 3D</h3>
              <div class="precio">
                <p class="secundario">$2000</p>
                <p class="descuento">25%</p>
                <p class="principal">$1500</p>
              </div>
              <div class="añadir">
                <div class="restar">-</div>
                <input type="number">
                <div class="agregar">+</div>
              </div>
              <div class="botones">
                <button type="reset"><i class="fa-solid fa-trash-can"></i></button>
                <button><i class="fa-solid fa-pen-clip"></i></button>
              </div>
            </article>
          </section>
          <div class="total">
            <section class="resumen">
              <table>
                <thead>
                  <tr>
                    <th>PRODUCTO</td><th>PRECIO</th>
                  </tr>
                </thead>
                <tr>
                  <td>Camiseta Infantil</td><td>$8000</td>
                </tr>
                <tr>
                  <td>Camiseta Mujer</td><td>$16000</td>
                </tr>
                <tr>
                  <td>Figura Messi 3D</td><td>$2000</td>
                </tr>
              </table>
              <div class="linea"></div>
              <table>
                <tr>
                  <td>SUBTOTAL</td><td>$26000</td>
                </tr>
              </table>
              <br>
              <table>
                <tr>
                  <td>Descuento</td><td>$6500</td>
                </tr>
                <tr>
                  <td>Intereses</td><td>$0</td>
                </tr>
                <tr>
                  <td>Envío</td><td>$0</td>
                </tr>
              </table>
              <div class="linea"></div>
              <table>
                <tr>
                  <td><strong>TOTAL</strong></td><td><strong>$19500</strong></td>
                </tr>
              </table>
            </section>
            <div class="codigo">
              <label class="promo" for="codigo">Agregar un código de promoción</label>
              <input type="text" name="codigo" id="codigo" placeholder="Ingrese su código">
              <button class="cdgo">Aplicar promoción</button>
            </div> 
            <div class="compraFinal">
              <button class="btnfinal"><a href="/">Seguir comprando</a></button>
              <button class="btnfinal"><a href="">Finalizar compra</a></button>
            </div>
            
          </div>
      </div>

    </main>

    <!--FOOTER-->
    <%- include('./partials/footer') %>

    </body>
    
    </html>