<!DOCTYPE html>
  <html lang="es">
    <%- include('./partials/head',{title: 'TiendArgenta'}) %>

<body class="detalles">
  <%- include('./partials/header') %>

    <main>
      <h1>Título del producto</h1>
      <div class="desk">
        <section class="imagenes">
          <div class="img_principal">
            <img src="/images/detalles/PRINCIPAL.jpg" alt="" />
          </div>
          <div class="miniaturas">
            <img src="/images/detalles/PRINCIPAL.jpg" alt="" />
            <img src="/images/detalles/DORSO.jpg" alt="" />
            <img src="/images/detalles/FRENTE.jpg" alt="" />
            <img src="/images/detalles/DORSO2.jpg" alt="" />
          </div>
        </section>
        <section class="descripcion">
          
          <div class="desc">
            <h3>Descripcion del producto</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo
              commodi soluta fuga quas voluptatem officiis, eos nulla? Natus,
              quibusdam. Quam molestias voluptates aspernatur dolor vitae animi
              magni non saepe fuga?
            </p>
          </div>
          <div class="talles">
            <h3>Talles</h3>
            <select name="talles" id="talles">
              <option value="">XS</option>
              <option value="">S</option>
              <option value="">M</option>
              <option value="">L</option>
              <option value="">XL</option>
            </select>
            <h2>Stock : 1</h2>
          </div>
          <div class="agregar_al_carrito">
            <h3>Cantidad</h3>
            <div class="restar">-</div>
            <input type="number" value="1" />
            <div class="sumar">+</div>
            
          </div>
          
          <div class="linea"></div>
          <div class="envio">
            <h3><i class="fa fa-truck"></i>Envíos a todo el país</h3>
        
            <a href="">Ver costo de envío</a>
          </div>
          <div class="linea"></div>
          <div class="precio">
            <div>
            <h3>Precio</h3>
            <span>$10.000</span>
            <small>10%</small>
          </div>
          <div >
            <h4>Descuento</h4>
              <p>$1.000</p>
          </div>
        </div>
        <div class="linea">
        <h3>Total</h3>
        <p>$9.000</p>
      </div>
          <div class="btn">
            <a href="/productos/carrito"><button type="submit">AÑADIR AL CARRITO</button></a>
          </div>
        </section>
      </div>
      <section class="relacionados">
        <h2>Productos relacionados</h2>
        <div class="articulos">
          <article>
            <img src="/images/detalles/camisetafrente.jpg" alt="" />
            <h4>Camiseta selección hombre</h4>
            <span>10% de descuento</span>
            <p>$10.000</p>
            <button>Ver más</button>
          </article>
          <article>
            <img src="/images/detalles/camisetamujerfrente.jpg" alt="" />
          
            <h4>Camiseta selección mujer</h4>
            <span>20% de descuento</span>
            <p>$10.000</p>
            <button>Ver más</button>
          </article>
          <article>
            <img src="/images/detalles/camisetaniñofrente.jpg" alt="" />
          
            <h4>Camiseta selección niños</h4>
            <span>15% de descuento</span>
            <p>$8.000</p>
            <button>Ver más</button>
          </article>
        </div class="articulos"v>
      </section>
      <div class="flecha">
        <a href="#"><i class="fa-solid fa-up-long"></i></a>
      </div>
    </main>

    <%- include('./partials/footer') %>
  </body>
</html>
