<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head',{title: 'ERROR | TiendArgenta'}) %>
  
  <body class="error">
    <%- include('./partials/header') %>
    <main>
      <h3>UHHH! PAGINA NO ENCONTRADA</h3>
      <section class="error404">
        <div class="res-error">
            <img src="/images/productos/searchNotFound.gif" alt="producto no encontrado" />
        </div>
      </section>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
