<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head',{title: 'ERROR | TiendArgenta'}) %>
  
  <body class="home">
    <%- include('./partials/header') %>
    <main>
    
    
    
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
