<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head',{title: 'TiendArgenta'}) %>
  
  <body class="home">
    <%- include('./partials/header') %>
    <main>
      <!--OFERTAS-->
      <h1 class="productsPage">NUEVOS INGRESOS</h1>
        <section class="cardProduct">
          <% nuevosProductos.forEach(producto => { %>
              <%- include('./partials/cards',{
                  id: producto.id,
                  imagen: producto.imagen,
                  titulo: producto.titulo,
                  descuento: producto.descuento,
                  precio: producto.precio
              }) %> 
          <% }) %>
        </section>
      <!--CARROUSEL-->
      <div class="contenedor-all">
        <input type="radio" name="imagen-slide" id="1" hidden>
        <input type="radio" name="imagen-slide" id="2" hidden>
        <input type="radio" name="imagen-slide" id="3" hidden>
        <input type="radio" name="imagen-slide" id="4" hidden>
      <div class="slide">
        <div class="img-slide">
          <img src="/images/home/carrousel/BANNER-1.gif" alt="">
        </div>
        <div class="img-slide">
          <img src="/images/home/carrousel/BANNER-2.gif" alt="">
        </div>
        <div class="img-slide">
          <img src="/images/home/carrousel/BANNER-3.gif" alt="">
        </div>
        <div class="img-slide">
          <img src="/images/home/carrousel/BANNER-4.gif" alt="">
        </div>
      </div>
    </div>
      <!--CATEGORIAS-->
      <h1>CONOCÉ TODOS NUESTROS PRODUCTOS</h1>
      <section class="cards">
        <article class="card card1">
          <div class="contenedor">
            <a href="/indumentaria"><img src="/images/productos/H-Messi.png" alt="Camiseta hombre"/></a>
          </div>
          <div class="nombre">
            <h2>INDUMENTARIA</h2>
          </div>
        </article>
        <article class="card card2">
          <div class="contenedor">
            <a href="/productos/cotillon"><img src="/images/productos/Combo-Fan.png" alt="promos"/></a></div>
          <div class="nombre">
            <h2>COTILLON</h2>
          </div>
        </article>
        <article class="card card3">
          <div class="contenedor">
            <a href="/novedades"><img src="/images/productos/Inf-manta.png" alt="novedades"/></a>
          </div>
          <div class="nombre">
            <h2>NOVEDADES</h2>
          </div>
        </article>
        <article class="card card4">
          <div class="contenedor">
            <a href="/productos/coleccionables"><img src="/images/productos/Col-Messi.png" alt="impresiones 3d"/></a>
          </div>
          <div class="nombre">
            <h2>COLECCIONABLES</h2>
          </div>
        </article>
      </section>
    </main>
    <!--FOOTER-->
    <%- include('./partials/footer') %>
  </body>
</html>
